NodeRed/flows.json
[{"id":"8eebf0fb.efa27","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f9e005f1.b0af78","type":"http request","z":"8eebf0fb.efa27","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://7f536afa-8bcf-495e-a4c8-1cf0e15dfdfe-bluemix.cloudant.com/sample1/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":true,"proxy":"","authType":"basic","x":270,"y":380,"wires":[["b63970d5.85ff4"]]},{"id":"b63970d5.85ff4","type":"function","z":"8eebf0fb.efa27","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":360,"wires":[["5be2b3d7.5ba09c","dbee2d3b.eda07","8864760a.a07358"]]},{"id":"28bf2d0c.cb7c52","type":"ui_button","z":"8eebf0fb.efa27","name":"","group":"fee98ef6.f6038","order":1,"width":12,"height":2,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"true\"}","payloadType":"json","topic":"topic","topicType":"msg","x":90,"y":340,"wires":[["f9e005f1.b0af78","a447e2fa.cb4ba","3cf6aa59.858e26"]]},{"id":"5be2b3d7.5ba09c","type":"ui_template","z":"8eebf0fb.efa27","group":"fee98ef6.f6038","name":"","order":2,"width":11,"height":10,"format":"<img src = {{msg.payload}} width=\"300px\" height = \"150px\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":900,"y":360,"wires":[[]]},{"id":"dbee2d3b.eda07","type":"delay","z":"8eebf0fb.efa27","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":420,"wires":[["49dabbac.45ef24"]]},{"id":"49dabbac.45ef24","type":"function","z":"8eebf0fb.efa27","name":"","func":"msg.payload = \"https://th.bing.com/th/id/R.1646f6860850753c10434b3ade9f8e36?rik=iXD8aO%2bHZKIjsw&riu=http%3a%2f%2fcpmi.org.uk%2fimages%2fcontent%2f2316%2f738265.png&ehk=6yajA0ngLyWk31TMpP5ODwOSAUFVif1M8oUuCeHq1dY%3d&risl=&pid=ImgRaw\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":420,"wires":[["5be2b3d7.5ba09c"]]},{"id":"a114c82a.0f3c68","type":"http request","z":"8eebf0fb.efa27","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=u7UasNiYI3DJXZbd1FjmWTCqLB9VwgeftPnrRvM4p5oEG0cxlhesLjMU8XNQlYhpFvOEHBIZoTCPwSDR&route=q&message=Emergency!!!!!!%0A%0AHello%20Owner%20an%20unknown%20person%20was%20detected%20to%20open%20the%20door%20if%20you%20want%20please%20press%20the%20open%20door%20button%20in%20MIT%20App.%0A%0AEmergency!!!!!&language=english&flash=0&numbers=6304531136","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":600,"wires":[["f7a1d762.671088","a691536e.522ca"]]},{"id":"f7a1d762.671088","type":"debug","z":"8eebf0fb.efa27","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":560,"wires":[]},{"id":"113ef41b.8a2f7c","type":"switch","z":"8eebf0fb.efa27","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":140,"wires":[["f39d3a18.662ff8"],["e3c63d9b.69475","1e12617b.5a586f"]]},{"id":"b83ce482.39a9a8","type":"ui_button","z":"8eebf0fb.efa27","name":"","group":"fee98ef6.f6038","order":5,"width":12,"height":2,"passthru":false,"label":"Emergency","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":560,"wires":[["a114c82a.0f3c68"]]},{"id":"63cdf557.dc65cc","type":"ibmiot in","z":"8eebf0fb.efa27","authentication":"apiKey","apiKey":"6ef1d7fc.c87b58","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"VITharish","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":60,"wires":[["60843e29.633a4","f39d3a18.662ff8"]]},{"id":"60843e29.633a4","type":"function","z":"8eebf0fb.efa27","name":"","func":"msg.payload = msg.payload.Guest\nglobal.set(\"g\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":100,"wires":[["113ef41b.8a2f7c","56d0efd9.b0775"]]},{"id":"d2693e74.7cbf","type":"debug","z":"8eebf0fb.efa27","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":60,"wires":[]},{"id":"f39d3a18.662ff8","type":"function","z":"8eebf0fb.efa27","name":"","func":"msg.payload = msg.payload.Door\nglobal.set(\"d\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":60,"wires":[["d2693e74.7cbf","fe453cdd.81964"]]},{"id":"fe453cdd.81964","type":"ui_text","z":"8eebf0fb.efa27","group":"fee98ef6.f6038","order":3,"width":12,"height":2,"name":"","label":"Hello!!!!!","format":"{{msg.payload}}","layout":"col-center","x":940,"y":100,"wires":[]},{"id":"e3c63d9b.69475","type":"rbe","z":"8eebf0fb.efa27","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":510,"y":260,"wires":[["188effa8.98629"]]},{"id":"188effa8.98629","type":"function","z":"8eebf0fb.efa27","name":"","func":"msg.payload = msg.payload.Door\nglobal.set(\"d\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":260,"wires":[["fe453cdd.81964","d2693e74.7cbf","7f22940e.dec3ec"]]},{"id":"1e12617b.5a586f","type":"function","z":"8eebf0fb.efa27","name":"","func":"msg.payload = \"Owner Given access to open the door for Unkown Person\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":180,"wires":[["fe453cdd.81964","7f22940e.dec3ec","27551115.ce9c2e"]]},{"id":"7f22940e.dec3ec","type":"delay","z":"8eebf0fb.efa27","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":260,"wires":[["82526d2d.0884a"]]},{"id":"82526d2d.0884a","type":"function","z":"8eebf0fb.efa27","name":"","func":"msg.payload = \"Please place your face properly infront of camera or press the emergency button\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":200,"wires":[["fe453cdd.81964","27551115.ce9c2e"]]},{"id":"3e775536.c6a96a","type":"http in","z":"8eebf0fb.efa27","name":"","url":"/image","method":"get","upload":false,"swaggerDoc":"","x":90,"y":420,"wires":[["f9e005f1.b0af78"]]},{"id":"8864760a.a07358","type":"http response","z":"8eebf0fb.efa27","name":"","statusCode":"","headers":{},"x":890,"y":420,"wires":[]},{"id":"b4764d33.af224","type":"http in","z":"8eebf0fb.efa27","name":"","url":"/sms","method":"get","upload":false,"swaggerDoc":"","x":120,"y":620,"wires":[["a114c82a.0f3c68"]]},{"id":"a691536e.522ca","type":"http response","z":"8eebf0fb.efa27","name":"","statusCode":"","headers":{},"x":570,"y":620,"wires":[]},{"id":"5d4059fb.f9cdc8","type":"http in","z":"8eebf0fb.efa27","name":"","url":"/opendoor","method":"get","upload":false,"swaggerDoc":"","x":520,"y":200,"wires":[["1e12617b.5a586f"]]},{"id":"27551115.ce9c2e","type":"http response","z":"8eebf0fb.efa27","name":"","statusCode":"","headers":{},"x":910,"y":160,"wires":[]},{"id":"9470bf4b.9338d","type":"function","z":"8eebf0fb.efa27","name":"","func":"msg.payload = {\"Guest\":global.get('d')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":720,"wires":[["c7fa547d.6262c8"]]},{"id":"94639646.de86e8","type":"http in","z":"8eebf0fb.efa27","name":"","url":"/guest","method":"get","upload":false,"swaggerDoc":"","x":180,"y":720,"wires":[["9470bf4b.9338d"]]},{"id":"c7fa547d.6262c8","type":"http response","z":"8eebf0fb.efa27","name":"","statusCode":"","headers":{},"x":670,"y":720,"wires":[]},{"id":"56d0efd9.b0775","type":"debug","z":"8eebf0fb.efa27","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":220,"wires":[]},{"id":"cada9e82.e7c26","type":"function","z":"8eebf0fb.efa27","name":"","func":"msg.payload = \"Adminstrator not given access to entry\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":780,"wires":[["4128d462.d0a2cc","fe453cdd.81964","7f22940e.dec3ec"]]},{"id":"bafa970f.89b028","type":"http in","z":"8eebf0fb.efa27","name":"","url":"/noentry","method":"get","upload":false,"swaggerDoc":"","x":190,"y":780,"wires":[["cada9e82.e7c26"]]},{"id":"4128d462.d0a2cc","type":"http response","z":"8eebf0fb.efa27","name":"","statusCode":"","headers":{},"x":690,"y":780,"wires":[]},{"id":"a447e2fa.cb4ba","type":"ibmiot out","z":"8eebf0fb.efa27","authentication":"apiKey","apiKey":"6ef1d7fc.c87b58","outputType":"cmd","deviceId":"12345","deviceType":"VITharish","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":280,"y":320,"wires":[]},{"id":"3cf6aa59.858e26","type":"debug","z":"8eebf0fb.efa27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":280,"wires":[]},{"id":"fee98ef6.f6038","type":"ui_group","name":"SmartGuest","tab":"7dbb9f34.20c3a","order":1,"disp":true,"width":23,"collapse":false},{"id":"6ef1d7fc.c87b58","type":"ibmiot","name":"Vit IoT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7dbb9f34.20c3a","type":"ui_tab","name":"home security","icon":"dashboard","order":2,"disabled":false,"hidden":false}]